body{
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    background: url('../img/424944.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav{
    background: linear-gradient(to right,skyblue, violet )
}
.side-nav{
    background: linear-gradient(to right,skyblue, violet );
    border-right: 10px solid pink;
}

footer{
    background: linear-gradient(to right,skyblue, violet );
}

.modal{
    background: linear-gradient(to right,skyblue, violet );
}
/* .section-home{
    background: url('../img/photo-1505740420928-5e560c06d30e.jpg');
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
/* #section-home{
    position: absolute;
    top: -20px;
} */
/* .hey{
    height: 470px;
    width: 100%;
    background-color: #000;
    opacity: .2;
    position: absolute;
    z-index: 2;
    top: 80px;
}

#white{
    position: relative;
    top: -430px;
    z-index: 3;
    
}

.section-choices{
    background: url('../img/photo-1506157786151-b8491531f063.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -240px;
}

.section-features{
    background: url('../img/photo-1446057032654-9d8885db76c6.jpg');
    min-height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}

.section-locations{
    background: url('../img/World-Heritage.png');
    min-height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
}

.center a{
    margin-left: 10px;
}

footer{
    background: linear-gradient(to right, #D44CE4, #FF0059);
}

/* .divider{
    background: linear-gradient(to left, #E5BD0B, #00BCFF);
    height: 3px;
}
/* .row1{
    background: linear-gradient(to right,skyblue, violet );
  }

.main-header,nav{
    background: linear-gradient(to right,skyblue, violet )
  }

  .main-header{
      min-height: 500px;
  }
.btn{
    font-family: 'Fjalla One', sans-serif;

}

.page-footer{
    background: linear-gradient(to right,skyblue, violet )

}

.section-premium{
  background: url('../img/58564.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
.section-register, .section-about{
    min-height: 400px;
    background-color: #DFDFDF;
}
 */
